.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .center2 {
    display: flex;
    margin: 460px 1px 15px 1800px;
  }
  
    .Username1,
    .Password1,
    .Login1 {
      opacity: 1;
      background-color: #000000;
      color: #ffffff;
      border-style: ridge;
      display: flex;
    }
  
    .Username1{
      margin: 10px auto auto;
    }
  
    .Password1{
      margin: 100px auto auto;
    }
  
    .Login1{
      margin: 100px auto auto;
      justify-content: center;
    }
  
    .create{
      margin: auto;
      display: flex;
    }
  
    .content1 {
      margin: 100px 1px 15px 800px;
    }
    .content2 {
      margin: 0px 1px 15px 802px;
    }
    .content3 {
      margin: 0px 1px 15px 1000px;
    }
    .content4 {
      margin: 0px 1px 15px 820px;
    }