html
    head
        title Fight thy Path
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js')
        script(src='./tiles.js')
        script(src='./class.js')
        script(src='./leaderboard.js')