<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="./login.CSS">
	</head>
	<body style="background-color:#aac8ff;">
			<header>
				<nav>
					<ul>
						<a href="/"><img src="https://i.imgur.com/UdWufnm.png" alt="Logo" width="400" height="102" class="center1"></a>
					</ul>
				</nav>
			</header>
		<div class="login-form">
			<form action="AllAboard" method="GET">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit" value="Login">
				<a href="/Register" class="content4">Not registered? Create an account!</a> 
				<a href="/Credits"><img src="https://i.imgur.com/QXRBHZK.png" alt="Credits" width="64" height="64" class="center2"></a>
			</form>
		</div>
	</body>
</html>