<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/CreateAccount.css">
</head>
<body>
    <head>
        <body style="background-color:#aac8ff;">
    <header>
        <nav>
            <ul>
                <a href="/"><img src="https://i.imgur.com/UdWufnm.png" alt="Logo" width="400" height="102" class="center1"></a>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/" method="GET">
            <div class="content1">
            <label for="UserN">Create Username:</label>
            <input type="text" id="UserN" name="Username" required><br><br>
            </div>
            <div class="content2">
            <label for="PassW">Create Password:</label>
            <input type="password" id="PassW" name="Password" required><br><br>
            </div>  
            <button type="submit" class="content3">Sign Up</button><br><br>
        </form>
    </main>
</body>
</html>